.button{
   width: 100%;
   border-radius: 10px;
   padding: 20px;
   font-size: 20px;
   font-family: 'Mulish', sans-serif;
   font-weight: 900;
   cursor: pointer;
   border: none;
   transition: .3s linear all;
}

.submit{
   margin-bottom: 10px;
   background-color: rgb(251, 255, 0, .7);
}

.submit:hover{
   background-color: rgb(251, 255, 0);
}

.getConsultation{
   margin-bottom: 20px;
}

.getConsultation:hover {
   box-shadow: 1px 1px 3px 1px rgb(225, 225, 225);
   background-color: rgb(199, 199, 199);
 }